.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Poetsen One", sans-serif;
  background-color: #f2f2f2;
  /* min-height: 100vh; */
  /* padding: 20px; */
}

.container-titulo{
  display: flex;
  justify-content: center;
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;

}

h1 {
  /* position: absolute; */
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 45vw;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 6px solid #333; /* Added border */
}

.dia, .mes, .ano {
  margin: 5%;
}

label {
  font-size: 1.0rem;
  color: #333;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #864ff7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.results{
  display: flex;
  flex-direction: column;
}

#result1, #result2, #result3 {
  font-size: 4rem;
  color: #333;
  font-style: italic;
}

#result1 {
  margin-top: 30px;
}
